#header {
    background-color: plum;
    border: 2px solid black;
    max-width: 50%;
    height: 80px;
    margin: 0 auto;
}

#wrap {
    display: flex;
    justify-content: space-between;
    max-width: 50%;
    height: 500px;
    margin: 15px auto;
}

.column {
    width: 25%;
    border: 2px solid black;
}

.one {
    background-color: palevioletred;
}

.two {
    background-color: lightgreen;
}

.three {
    background-color: orange;
}