/* All odd numbered elements: a light red/pink background, and a list of fonts containing Verdana and DejaVu Sans with sans-serif as a fallback
The second element: blue text and a font size of 36px
The third element: in addition to the styles for all odd numbered elements, add a font size of 24px
The fourth element: a light green background, a font size of 24px, and bold */

.pink {
    background-color: #FFAAAA;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#big {
    color: rgb(18, 81, 226);
    font-size: 36px;
}

.big {
    font-size: 24px;
}

#green {
    background-color: hsl(102, 65%, 68%);
    font-weight: bold;
}